<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>第{{ num }}/{{ total }}題</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <link rel="shortcut icon" type="image/gif" href="{{ url_for('static', filename='assets/favicon.gif') }}"/>
    </head>
    <body>
        <div id="video-container">
            <video id="video-box">
                <source src="{{ url_for('static', filename='video/'+num+'.mp4') }}" type="video/mp4">
            </video>
            <img id="play-button" src="{{ url_for('static', filename='assets/play-button.svg') }}" />
        </div>
        
        <form id="req-data" method="POST">
        </form>
        
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>